body {
    background: #ECFDF5;

}

#container {
    max-width: 550px;
    margin: 50px auto;
    font-family: 'Karla';
}

/* HERO */

h1 {
    width: 330px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #2B283A;
}

.h1-highlight {
    color: #10B981;
}

.hero-p {
    width: 395px;
    height: 28px;
    font-size: 25px;
    color: #6B7280;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* BUTTON-CONTAINER */

#button-container {
    border-bottom: 1px solid #D5D4D8;
}

button {
    font-family: 'Inter';
    width: 200px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 10px 15px;
    font-size: 20px;
    background: #10B981;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

/* FOOTER */

#footer {
    display: flex;
    justify-content: space-between;
}

.option {
    font-family: 'Inter';
    width: 200px;
    height: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;
    background: #273549;
    border: none;
    border-radius: 5px;
    color: #5DEF92;;
}